/* Para pantallas pequeñas, el contenedor ocupará todo el ancho */
#container {
    margin-left: 0;
    margin-right: 0;
    padding: 0 16px; /* Un pequeño padding para darle espacio en móviles */
}

/* Para pantallas medianas (768px) y más grandes, aplicamos márgenes */
@media (min-width: 768px) {
    #container {
        margin-left: 20%;
        margin-right: 10%;
    }

    #perfil-title {
        width: 100px;
        height: 100px;
        top: 38px;
        left: 331px;
        padding-top: 8px;
        gap: 8px;
        opacity: 1;
        text-align: center;
        margin-bottom: 2%;
    }
}


#perfil-title {
    width: 35%;
    height: 90%;
    top: 38px;
    left: 331px;
    padding-top: 8px;
    gap: 8px;
    opacity: 1;
    text-align: center;
    margin-bottom: 2%;
}